.THIS {
    padding: 16px;
}    

.THIS input[type=text] {
    font-size: 14px;
    width: 150px;
    padding: 4px 8px;
    margin: 4px 0;
}

.THIS h2 {
    font-size: 20px;
    margin-top: 16px;
}

.THIS label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 6px;
}

.THIS .principal {
    color: #0288D1;
}